@{
    ViewBag.Title = "Home Page";
}


<div class="d-flex justify-content-between">
    <h3 class="head3">Lowest Prices &rArr;</h3>



    <a href="/" class=""><span>=> More...</span></a>
</div>


<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <a target="_blank" href="img_5terre.jpg">
                <img src="https://cdn.pixabay.com/photo/2022/08/01/07/59/vegetables-7357585_1280.png" alt="Cinque Terre">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="col-sm-3">
            <a target="_blank" href="img_forest.jpg">
                <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Forest">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="col-sm-3">
            <a target="_blank" href="img_lights.jpg">
                <img src="https://plus.unsplash.com/premium_photo-1734545435308-1c6024886888?q=80&w=699&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Northern Lights">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="col-sm-3">
            <a target="_blank" href="img_mountains.jpg">
                <img src="https://plus.unsplash.com/premium_photo-1734545435308-1c6024886888?q=80&w=699&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Northern Lights">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <a>
            <img src="https://wallpaperaccess.com/full/2792583.jpg" alt="Forest"  class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <a>
            <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <a>
            <img src="https://static.vecteezy.com/system/resources/previews/021/946/807/non_2x/beauty-and-health-illustration-with-natural-cosmetics-and-eco-products-for-problematic-skin-or-treatment-face-in-women-cartoon-hand-drawn-templates-vector.jpg" alt="Forest" class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <a>
            <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <a>
            <img src="https://wallpaperaccess.com/full/2792583.jpg" alt="Forest" class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <a>
            <img src="https://wallpaperaccess.com/full/2792583.jpg" alt="Forest" class="catgry">

        </a>
        <p><a class="btn btn-default" href="/product/page"> more &raquo;</a></p>
    </div>
</div>
