
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card">
                <div class="card-img-top">
                    <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">


                    <div class="card-text" style="display:inline-grid;margin-left: 200px;">
                        <span>Name: product1</span>
                        <span>MRP: $ 2.5 </span>
                        <span>Offer Price: product1</span>
                        <span>Rating: ******</span>
                        <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>
                    </div>
                </div>
            </div>


            <hr />
            <div>
                <div class="container mt-3">
                    <h2>Product Details</h2>
                    <p><strong>Description:</strong> attributemakesgt htrttttttttttt tttttthg fbthrt hthtyhty hnythn yhn nnnn nnnnnn nnn nnn nn nnn nnnnn nn httht hthth sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
                    <div class="card">
                        <div class="card-header">
                            <a class=" btn">
                                General
                            </a>
                        </div>
                        <div id="collapse5">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-3"><strong>Pack Of</strong></td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                    <h3 class="mb-3">Specifications</h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tbody>

                                            <tr>
                                                <td><strong>Brand</strong></td>
                                                <td>MYSORE SANDAL</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Model Name</strong></td>
                                                <td>Soap</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Quantity</strong></td>
                                                <td>450g</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Organic</strong></td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Ideal For</strong></td>
                                                <td>Men & Women</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Fragrance Scent</strong></td>
                                                <td>Clear</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Type</strong></td>
                                                <td>Bathing Soap</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Skin Type</strong></td>
                                                <td>All Skin Types</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Maximum Shelf Life</strong></td>
                                                <td>36 Months</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Application Area</strong></td>
                                                <td>Body, Face</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Prescription Required</strong></td>
                                                <td>No</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                    More Information
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                    Additional Features
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse4">
                                    Legal Disclaimer
                                </a>
                            </div>
                            <div id="collapse4" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse5">
                                    Ratings & Reviews
                                </a>
                            </div>
                            <div id="collapse5" class="collapse" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card">

            <div class="card-body">
                <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">
                <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">

                <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">

                <img src="https://www.pngall.com/wp-content/uploads/4/Grocery-PNG-Photo.png" alt="Forest" class="catgry">
                <table>
                    <tr>
                        <td>
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn">
                                        Ratings & Reviews
                                    </a>
                                </div>
                                <div id="collapse5" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn">
                                        Ratings & Reviews
                                    </a>
                                </div>
                                <div id="collapse5" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn">
                                        Ratings & Reviews
                                    </a>
                                </div>
                                <div id="collapse5" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <tbody>

                                                <tr>
                                                    <td><strong>Brand</strong></td>
                                                    <td>MYSORE SANDAL</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Model Name</strong></td>
                                                    <td>Soap</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Quantity</strong></td>
                                                    <td>450g</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Organic</strong></td>
                                                    <td>No</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Ideal For</strong></td>
                                                    <td>Men & Women</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Fragrance Scent</strong></td>
                                                    <td>Clear</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Type</strong></td>
                                                    <td>Bathing Soap</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Skin Type</strong></td>
                                                    <td>All Skin Types</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Maximum Shelf Life</strong></td>
                                                    <td>36 Months</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Application Area</strong></td>
                                                    <td>Body, Face</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Prescription Required</strong></td>
                                                    <td>No</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            </div>
    </div>


</div>



<div class="card" style="margin-top: 50px;">
    <h3>Related Products..</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
        <div class="col-sm-3">
            <div class="productbox">

                <a>
                    <img src="https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="prodimg">

                </a>
                <div class="productdetailsDiv">
                    <span>Name : product1</span>
                    <span>Rating:&diams; &diams; &diams; &diams; &diams;</span>
                    <span>Price :<del>2.5</del> </span>
                    <span>Offer Price :$ 2.0</span>
                    <span><button class="btn btn-primary">Add Cart</button>  <span>Qty: <button>-</button> 1 <button>+</button></span></span>

                </div>




            </div>


        </div>
    </div>
</div>


